[Unit]
Description=Cosa service

[Service]
Type=oneshot
ExecStart=/usr/bin/gw_prov_utopia
Restart=Always
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target

